$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-fon-color: #ffffff;
$address-text-color: #757575;
$link-text-color: #212121;
$border-color: #f5f4fa;
$card-border: #eeeeee;
$social-link: #afb1b8;
$social-link-accent: #ffffff;
$social-item-accent: #2196f3;
$background-modal-form: rgba(33, 33, 33, 0.2);
$main-modal-form: #ffffff;

body {
  color: $primary-text-color;
  background-color: $primary-fon-color;
}
